<div class="col-2">
  <h1>Give Your Workout <br>A New Style!</h1>
  <p>Success isn't always about greatnesss. It's about consistency.Consistent <br>hardwork gains success. Greatness will come.</p>
  <%= link_to("Explore Now &#8594".html_safe, root_path, class: "btn") %>
</div>
<div class="col-2">
  <%= image_tag("image1.png", alt: "image 1") %>
</div>
