<main>
  <h2>Products</h2>

  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
      <%= button_to "Add to cart", cart_path(current_user), params: { product_id: product } %>
      <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>

  <%= link_to "New product", new_product_path %>
</main>
